.code {
    background-color: #CCC;
    border: none;
    resize: none;
}

code {
    background-color: #CCC;
    padding: 2px;
}

.block {
    display: block;
}

.padding {
    padding: 5px;
}

* {
    max-width: 120ch;
}