{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<p>Here are the quizzes:
</p>
{% if current_user.is_teacher %}
    <ul>
        <li><a href="{{ url_for('answers.see_results') }}">
            See the student's results
        </a></li>
        <li><a href="{{ url_for('lessons.new_chapter') }}">
            Create a chapter
            </a>
        </li>
        <li><a href="{{ url_for('lessons.export') }}">
            Export all the chapters
            </a>
        </li>
    </ul>
{% endif %}
<table>
    <thead>
        <th>Quizz</th>
        <th>Status</th>
        {% if current_user.is_teacher %}
        <th>Correction</th>
        {% endif %}
    </thead>
    <tbody>

        {% for chapter in chapters %}
        <tr>
            <td>
                {% if current_user.is_teacher %}
                    <a href="{{ url_for('lessons.edit_chapter', chapter_id=chapter.id)}}">
                        {{ chapter.id }}
                    </a>
                {% else %}
                    {{ chapter.id }}
                {% endif %}
            </td>
            <td>
                {% if chapter.state.value == "PUBLISHED" %}
                    <a href="{{ url_for('answers.answers_get', chapter_id=chapter.id) }}">
                        {{ chapter.quizz_status }}
                    </a>
                {% elif chapter.state.value == "WAITING_FOR_CORRECTION" %}
                    Correction in progress...
                {% elif chapter.state.value == "CORRECTED" %}
                    <a href="{{ url_for('answers.see_solutions', chapter_id=chapter.id) }}">
                        {{ chapter.quizz_status }}
                    </a>
                {% endif %}
                </a>
            </td>
            {% if current_user.is_teacher %}
            <td>
                <a href="{{ url_for('answers.correct_quizz', chapter_id=chapter.id) }}">
                    Go to correction
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}