{% extends "layout.html" %}

{% block title %}Solutions of {{ chapter_id }}{% endblock %}

{% block content %}
<h2>Solutions of {{ chapter_id }}</h2>

<p>Total score: {{ score[0] }} / {{ score[1] }}</p>

{% for question in questions %}
    <hr />
    <p><em>({{ question.coefficient }} points)</em> {{ question.title | safe }}</p>

    <p><strong>Your answer:</strong>
        <pre><code class="block padding">{{ question.student_answer }}</code></pre>
        {% if question.grade is not none %}
            <em>{{ question.grade }} / 4</em>
        {% else %}
            <em>Non-graded answer. Contact your teacher to be corrected!</em>
        {% endif %}
    </p>

    <strong>The teacher(s) answered:</strong>
    <ul>
        {% for answer in question.teachers_answer %}
           <li><pre><code class="block padding">{{ answer }}</code></pre></li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock %}